name: release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
      - run: cargo build --profile dist
      - name: Upload executable to release
        uses: softprops/action-gh-release@v2
        with:
          files: target/dist/paradox-checksum-patcher.exe
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
